[submodule "PluginManager/imguifilebrowser"]
	path = PluginManager/imguifilebrowser
	url = https://github.com/bakkesmodorg/imgui-filebrowser
[submodule "PluginManager/json"]
	path = PluginManager/json
	url = https://github.com/nlohmann/json.git
